*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/* .head-cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    position: fixed;
    width: 100%;
    height: 5rem;
} */

.options-cont{
    height:8%;
    width:4%;
    position: fixed;
    left: 2rem;
    top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: powderblue;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#ham-icon{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.options-cont:hover{
    transform: scale(1.1);
}

.func-cont{
    position: fixed;
    left: 25%;
    top: 1em;
    width: 55%;
    height: 5rem;
    margin-left: 2%;
    margin-right: 2%;
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
}


.func-icon{
    height: 60%;
    width: 7%;
    cursor: pointer;
}

.func-icon:hover{
    transform:scale(1.2);
}

.pencil-modal{
    height: 10%;
    width: 7%;
    position: fixed;
    top: 6em;
    left: 27%;
    text-align: center;
    display: none;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

.color-cont{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#slider{
    margin-top:1rem;
    width: 80%;
    cursor: pointer;
}

.color-btn{
    width: 20%;
    height: 60%;
    cursor: pointer;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
}

#color-1{
    background-color: blue;
}

#color-2{
    background-color: red;
}

#color-3{
    background-color: black;
    transform: scale(1.2);
}

.eraser-cont{
    width: 6rem;
    height: 3rem;
    position: fixed;
    left: 35%;
    top: 6rem;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    display: none;
}

.eraser-cont > input{
    width: 80%;
    cursor: pointer;
}

.scale-tools{
    animation-name: scale-tools;
    animation-duration: 0.5s;
}
@keyframes scale-tools{
    0%{
        transform:scale(0.2);
    }

    100%{
        transform: scale(1);
    }
}

.sticky-cont{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    height: 9rem;
    width: 12rem;
    margin: 2px auto;
    position: fixed;
    top: 15rem;
    left: 15rem;
    z-index: 1;
}

.sticky-head-cont{
    background-color: lightblue;
    height: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.sticky-note-cont{
    height: calc(100% - 1.5rem);
    width: 100%;
    display: block;
}

.sticky-textarea{
    height: 100%;
    width: 100%;
    resize: none;
    background-color: whitesmoke;
    border: none;
    font-size: 1rem;
    padding: 2px;
}

.note-btn{
    margin: 3px 4px;
    border: none;
    border-radius: 50%;
    width: 10%;
    height: 80%;
    cursor: pointer;
}

.mini{
    background-color: red;
}

.close{
    background-color: blue;
}

